<div class="flex flex-col w-2/6 h-full gap-2 border rounded-md activity border-slate-300">
    <div class="flex flex-row items-center justify-between px-4 pt-4 mb-2 transition-all ease-in peer group rounded-t-md hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500 hover:p-4 hover:mb-0">
        <h1 class="text-lg font-bold font-base text-navy group-hover:text-white">Aktivitas</h1>
        <img class="opacity-0 w-5 h-5 rounded-[4px] bg-white p-[2px] cursor-pointer transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
    </div>
    <p class="text-[13px] font-base font-medium text-navy border border-slate-300 rounded-md py-[6px] px-4 mx-4 w-fit mb-3 transition-all ease-in peer-hover:mb-1">Terbaru</p>
    <div class="flex flex-col h-full gap-2 mx-4 mb-4 activity-container">
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#dbffd3]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#A0FFA0]" src="/images/icons/ic_meet.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60"><span class="font-semibold text-navy">Kamu</span> mengajukan janji temu</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • Baru saja</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#dedeff]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#ccccff]" src="/images/icons/ic_approve.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60">Janji temu <span class="font-semibold text-navy">Kamu</span> disetujui</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • 2 minggu yang lalu</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#ffd7d7]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#ffbfbf]" src="/images/icons/ic_decline.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60">Janji temu <span class="font-semibold text-navy">Kamu</span> ditolak</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • Bulan lalu</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#ffd1ff]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#ffadff]" src="/images/icons/ic_payment.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60">Pembayaran janji temu <span class="font-semibold text-navy">Kamu</span> berhasil</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • 5 bulan yang lalu</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#ffd1ff]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#ffadff]" src="/images/icons/ic_payment.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60">Pembayaran janji temu <span class="font-semibold text-navy">Kamu</span> berhasil</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • 5 bulan yang lalu</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
        <div class="group activity-contain rounded-lg flex flex-row  p-2 items-center justify-between cursor-pointer transition-all ease-in hover:bg-[#ffd1ff]">
            <div class="flex flex-row items-center gap-2">
                <img class="w-10 h-10 rounded-lg p-2 bg-[#ffadff]" src="/images/icons/ic_payment.svg" alt="">
                <div class="flex flex-col gap-1">
                    <h1 class="text-xs font-semibold font-base text-navy/60">Pembayaran janji temu <span class="font-semibold text-navy">Kamu</span> berhasil</h1>
                    <p class="text-[10px] font-base font-normal text-navy/60">dengan dr. Steve Jobs • 5 bulan yang lalu</p>
                </div>
            </div>
            <img class="w-5 h-5 rounded-[4px] bg-white opacity-0 p-[2px] transition-all ease-in group-hover:opacity-100" src="/images/icons/ic_arrow_right.svg" alt="">
        </div>
    </div>
</div>