<div class="appointment flex flex-col border border-slate-300 rounded-md gap-2">
    <div
        class="peer group flex flex-row justify-between items-center mb-2 px-4 pt-4 rounded-t-md transition-all ease-in hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500 hover:p-4 hover:mb-0">
        <h1 class="text-lg font-base font-bold text-navy group-hover:text-white">Janji Temu</h1>
        <img class="opacity-0 w-5 h-5 rounded-[4px] bg-white p-[2px] cursor-pointer transition-all ease-in group-hover:opacity-100"
            src="/images/icons/ic_arrow_right.svg" alt="">
    </div>
    <div class="flex flex-row mb-3 mx-4 gap-2 items-center justify-between transition-all ease-in peer-hover:mb-1">
        <p
            class="text-[13px] font-base font-medium text-navy border border-slate-300 rounded-md py-[6px] px-4 w-fit transition-all ease-in peer-hover:mb-1">
            Terbaru</p>
        <a class="text-[13px] font-base font-medium text-white bg-blueSky rounded-md py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in-out duration-500 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500 peer-hover:mb-1"
            href="#">
            <img class="w-4 h-4" src="/images/icons/ic_add.svg" alt="">
            Buat Janji Temu
        </a>
    </div>
    <div class="flex flex-row mx-4 gap-2 mb-4">
        <div class="group meet w-1/3 border border-slate-300 rounded-md p-3 flex flex-col gap-3 transition-all ease-in duration-300 hover:bg-[#dbffd3] hover:border-transparent">
            <div class="flex flex-col gap-[2px]">
                <div class="flex flex-row justify-between">
                    <h1 class="font-base font-bold text-[13px] leading-5 text-navy">Pengajuan Janji Temu</h1>
                    <svg class="w-5 h-5 rounded-full border border-slate-300 p-[2px] transition-all ease-in duration-300 group-hover:border-transparent group-hover:bg-white" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </div>
                <p class="text-[10px] font-base font-normal text-navy/60">Terdapat 3 pengajuan</p>
            </div>
            <div class="flex flex-row gap-2 items-center bg-[#CAFFBF] p-1 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(47 59 82 / 0.8)" class="size-3">
                    <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                        clip-rule="evenodd" />
                </svg>
                <p class="text-[10px] font-base font-normal text-navy">12 Jan, 2025</p>
            </div>
        </div>
        <div class="group status w-1/3 border border-slate-300 rounded-md p-3 flex flex-col gap-3 transition-all ease-in duration-300 hover:bg-[#fdffcf] hover:border-transparent">
            <div class="flex flex-col gap-[2px]">
                <div class="flex flex-row justify-between">
                    <h1 class="font-base font-bold text-[13px] leading-5 text-navy">Status Janji Temu</h1>
                    <svg class="w-5 h-5 rounded-full border border-slate-300 p-[2px] transition-all ease-in duration-300 group-hover:border-transparent group-hover:bg-white" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </div>
                <p class="text-[10px] font-base font-normal text-navy/60">Terdapat 1 diterima, 2 ditolak</p>
            </div>
            <div class="flex flex-row gap-2 items-center bg-[#FDFFB6] p-1 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(47 59 82 / 0.8)" class="size-3">
                    <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                        clip-rule="evenodd" />
                </svg>
                <p class="text-[10px] font-base font-normal text-navy">2 Jan, 2025</p>
            </div>
        </div>
        <div class="group payment w-1/3 border border-slate-300 rounded-md p-3 flex flex-col gap-3 transition-all ease-in duration-300 hover:bg-[#bbf9ff] hover:border-transparent">
            <div class="flex flex-col gap-[2px]">
                <div class="flex flex-row justify-between">
                    <h1 class="font-base font-bold text-[13px] leading-5 text-navy">Pembayaran Janji Temu</h1>
                    <svg class="w-5 h-5 rounded-full border border-slate-300 p-[2px] transition-all ease-in duration-300 group-hover:border-transparent group-hover:bg-white" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </div>
                <p class="text-[10px] font-base font-normal text-navy/60">Terdapat 1 pembayaran, 1 tertunda</p>
            </div>
            <div class="flex flex-row gap-2 items-center bg-[#9BF6FF] p-1 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(47 59 82 / 0.8)" class="size-3">
                    <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                        clip-rule="evenodd" />
                </svg>
                <p class="text-[10px] font-base font-normal text-navy">8 Jan, 2025</p>
            </div>
        </div>
    </div>
</div>