<div class="calendar flex flex-col border border-slate-300 rounded-md gap-2 h-full">
    <div
        class="peer group flex flex-row justify-between items-center mb-2 px-4 pt-4 rounded-t-md transition-all ease-in hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500 hover:p-4 hover:-mb-1">
        <h1 class="text-lg font-base font-bold text-navy group-hover:text-white">Kalender</h1>
        <img class="opacity-0 w-5 h-5 rounded-[4px] bg-white p-[2px] cursor-pointer transition-all ease-in group-hover:opacity-100"
            src="/images/icons/ic_arrow_right.svg" alt="">
    </div>
    <div class="calendarContain flex flex-col border border-slate-300 rounded-md mx-4 mb-4 h-full">
        <div class="calendarHeader flex flex-row">
            <div class="flex flex-row w-4/6 border-r border-slate-300">
                <img class="flex-none w-10 h-8 p-[6px] border-r border-b border-slate-300 transition-all ease-in hover:bg-slate-300/30"
                    src="/images/icons/ic_arrow_left.svg" alt="">
                <h1
                    class="flex-auto font-base font-bold text-xs text-navy text-center border-b border-slate-300 py-[6px]">
                    Desember 2024</h1>
                <img class="flex-none w-10 h-8 p-[6px] border-l border-b border-slate-300 transition-all ease-in hover:bg-slate-300/30"
                    src="/images/icons/ic_arrow_right.svg" alt="">
            </div>
            <h1 class="font-base font-bold text-xs text-navy text-center w-2/6 border-b border-slate-300 py-[6px]">
                Aktivitas</h1>
        </div>
        <div class="calendarContent flex flex-row h-full">
            <div class="flex flex-col w-4/6 p-2 border-r border-slate-300 h-full">
                <div class="grid grid-cols-7 text-center text-sm font-medium mb-2">
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Min</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Sen</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Sel</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Rab</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Kam</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Jum</h1>
                    <h1 class="flex-auto font-base font-bold text-xs text-navy text-center">Sab</h1>
                </div>
                <div class="grid grid-cols-7 text-center text-sm font-medium h-full">
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">1</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">2</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">3</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">4</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">5</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">6</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">7</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">1</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">2</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">3</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">4</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">5</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">6</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">7</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">1</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">2</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">3</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">4</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">5</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">6</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">7</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">1</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">2</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">3</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">4</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">5</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">6</p>
                    <p class="flex-auto font-base text-xs text-navy text-center py-[6px]">7</p>
                </div>
            </div>
            <div class="flex flex-col p-4 h-full w-2/6 gap-3">
                <h1 class="font-bold text-[13px] leading-5 text-navy">Terdapat 4 Janji Temu</h1>
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="8 0 24 24" fill="none"
                            stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-git-commit-vertical">
                            <path d="M12 3v6" />
                            <circle cx="12" cy="12" r="3" />
                            <path d="M12 15v6" />
                        </svg>
                        <div class="flex flex-col">
                            <p class="text-[10px] font-base font-normal text-navy/60">Janji Temu dengan <span
                                    class="font-semibold text-navy">dr. Steve Jobs</span></p>
                            <p class="text-[10px] font-base font-normal text-navy/60">di Rumah Sakit Siloam <span
                                    class="font-semibold text-navy">10 AM</span></p>
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="8 0 24 24" fill="none"
                            stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-git-commit-vertical">
                            <path d="M12 3v6" />
                            <circle cx="12" cy="12" r="3" />
                            <path d="M12 15v6" />
                        </svg>
                        <div class="flex flex-col">
                            <p class="text-[10px] font-base font-normal text-navy/60">Janji Temu dengan <span
                                    class="font-semibold text-navy">dr. Steve Jobs</span></p>
                            <p class="text-[10px] font-base font-normal text-navy/60">di Rumah Sakit Siloam <span
                                    class="font-semibold text-navy">10 AM</span></p>
                        </div>
                    </div>
                    <p
                        class="text-[10px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2">
                        Lihat selengkapnya</p>
                </div>
            </div>
        </div>
    </div>
</div>