<div class="flex flex-col w-4/6 gap-4 calendarContainer">
    <div class="flex flex-col gap-4">
        <h3 class="text-base font-bold font-base text-navy">Pilih tanggal</h3>
        <div class="flex flex-col border rounded-md border-slate-300 calendar">
            <div class="flex flex-row calendarHeader">
                <div class="flex flex-row w-full border-slate-300">
                    <img class="flex-none w-10 h-9 p-[6px] border-r border-b border-slate-300 transition-all ease-in hover:bg-slate-300/30"
                        src="/images/icons/ic_arrow_left.svg" alt="">
                    <h1
                        class="flex-auto font-base font-bold text-sm text-navy text-center border-b border-slate-300 py-[6px]">
                        Desember 2024</h1>
                    <img class="flex-none w-10 h-9 p-[6px] border-l border-b border-slate-300 transition-all ease-in hover:bg-slate-300/30"
                        src="/images/icons/ic_arrow_right.svg" alt="">
                </div>
            </div>
            <div class="flex flex-row calendarContent">
                <div class="flex flex-col w-full p-2 ">
                    <div class="grid grid-cols-7 mb-2 text-sm font-medium text-center">
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Min
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Sen
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Sel
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Rab
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Kam
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Jum
                        </h1>
                        <h1 class="flex-auto text-sm font-bold text-center font-base text-navy">
                            Sab
                        </h1>
                    </div>
                    <div class="grid h-full grid-cols-7 text-sm font-medium text-center">
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">1
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">2
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">3
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">4
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">5
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">6
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">7
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">1
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">2
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">3
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">4
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">5
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">6
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">7
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">1
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">2
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">3
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">4
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">5
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">6
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">7
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">1
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">2
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">3
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">4
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">5
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">6
                        </p>
                        <p class="flex-auto font-base text-sm text-navy text-center py-[6px]">7
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 calendarContainer">
        <h3 class="text-base font-bold font-base text-navy">Pilih jam</h3>
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 morning-time">
                <p class="text-sm font-medium font-base text-navy">Pagi</p>
                <div class="flex flex-row border rounded-md border-slate-300 w-fit">
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        08:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        09:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        10:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        11:00
                    </button>
                </div>
            </div>
            <div class="flex flex-col gap-1 day-time">
                <p class="text-sm font-medium font-base text-navy">Siang</p>
                <div class="flex flex-row border rounded-md border-slate-300 w-fit">
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        14:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        15:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        14:00
                    </button>
                </div>
            </div>
            <div class="flex flex-col gap-1 morning-time">
                <p class="text-sm font-medium font-base text-navy">Malam</p>
                <div class="flex flex-row border rounded-md border-slate-300 w-fit">
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        18:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-r border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        19:00
                    </button>
                    <button
                        class="text-[13px] font-base font-medium text-navy border-slate-300 py-[6px] px-4 w-fit flex flex-row items-center gap-2 transition-all ease-in">
                        20:00
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>