<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/output.css" rel="stylesheet">
<title>HealthGate</title>
<style>
    * {
        box-sizing: border-box;
    }
    /* Mengatur lebar scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* Lebar scrollbar */
        height: 10px; /* Tinggi scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(221, 221, 221); /* Warna bagian yang dapat digeser */
        border-radius: 10px; /* Membuat sudut membulat */
    }
</style>