<div class="flex flex-col gap-4 my-5 appointmentList">
    
    <table class="box-border border-collapse table-fixed">
        <thead>
            <tr>
                <th class="text-[13px] font-base font-semibold rounded-l-md bg-slate-200 py-2 text-blueSky w-10">#</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Dokter</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Spesialis</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Waktu</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Lokasi</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Status</th>
                <th class="text-[13px] text-left font-base font-semibold text-navy rounded-r-md bg-slate-300/30 py-2">
                </th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            <tr>
                <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                <td class="py-2 text-xs font-normal font-base text-navy">
                    <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                </td>
                <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                        class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                        href="#">Detail</a></td>
            </tr>
            
        </tbody>
    </table>
</div>