<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-row justify-between mainContainer bg-slate-100">
        <%- include ("../partials/adminSidebar.ejs") %>
        <div class="mainContain flex flex-col w-full ml-[320px] transition-all ease-in-out duration-500">
            <div class="navbar flex flex-row h-[72px] mx-5 items-center justify-between">
                <div class="flex flex-col welcome">
                    <p class="text-xs font-medium font-base text-navy/60">Selamat Datang,</p>
                    <h1 class="text-lg font-bold font-base text-navy">Admin</h1>
                </div>
                <div class="flex flex-row gap-4">
                    <svg class="p-2 bg-white border rounded-full cursor-pointer border-slate-200 h-9 w-9" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>                
                </div>
            </div>
            <hr class="text-slate-300 mx-5 mb-5">
            <div class="flex flex-col gap-4 mx-5 contain">
                <div class="flex flex-row w-full gap-2 pb-4 border-b title border-slate-300">
                    <svg class="border border-slate-200 cursor-pointer rounded-full h-12 w-12 p-[10px]" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 -2 24 28" fill="none" stroke="rgb(57 145 245/.70)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-grid"><rect width="7" height="7" x="3" y="3" rx="1"/><rect width="7" height="7" x="14" y="3" rx="1"/><rect width="7" height="7" x="14" y="14" rx="1"/><rect width="7" height="7" x="3" y="14" rx="1"/></svg>
                    <div class="flex flex-col">
                        <h1 class="text-lg font-bold font-base text-navy">Menu Utama</h1>
                        <p class="text-xs font-medium font-base text-navy/60">Kamu tidak memiliki janji temu sejauh ini</p>
                    </div>
                </div>
                <div class="flex flex-col h-full gap-6">
                    <div class="cards flex flex-row w-full gap-4">
                        <div class="card flex flex-col gap-2 border border-slate-300 rounded-md p-5 w-1/3">
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-base font-medium font-base text-navy">Total Pengguna</h1>
                                <img class="w-4 h-4" src="/images/icons/ic_arrow_right.svg" alt="">
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-row items-end gap-1">
                                    <p class="text-5xl font-bold font-base text-navy tracking-tight">123</p>
                                    <div class="flex flex-row items-center mb-1">
                                        <img class="w-6 h-6" src="/images/icons/ic_arrow_up_right.svg" alt="">
                                        <p class="text-xs font-medium font-base text-navy/60">2 Pengguna</p>
                                    </div>
                                </div>
                                <div class="peoples flex flex-row items-center">
                                    <img class="object-cover rounded-full w-7 h-7" src="/images/img/img_gradient.png" alt="">
                                    <img class="object-cover rounded-full bg-slate-100 w-9 h-9 p-1 -ml-3" src="/images/img/img_gradient.png" alt="">
                                    <div class="flex flex-row justify-center items-center text-[10px] font-medium font-base text-navy/60 border-4 border-slate-100 rounded-full bg-slate-200 w-9 h-9 -ml-4">+99</div>
                                </div>
                            </div>
                        </div>
                        <div class="card flex flex-col gap-2 border border-slate-300 rounded-md p-5 w-1/3">
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-base font-medium font-base text-navy">Total Dokter</h1>
                                <img class="w-4 h-4" src="/images/icons/ic_arrow_right.svg" alt="">
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-row items-end gap-1">
                                    <p class="text-5xl font-bold font-base text-navy tracking-tight">123</p>
                                    <div class="flex flex-row items-center mb-1">
                                        <img class="w-6 h-6" src="/images/icons/ic_arrow_down_right.svg" alt="">
                                        <p class="text-xs font-medium font-base text-[#df4b31]">2 Dokter</p>
                                    </div>
                                </div>
                                <div class="peoples flex flex-row items-center">
                                    <img class="object-cover rounded-full w-7 h-7" src="/images/img/img_gradient.png" alt="">
                                    <img class="object-cover rounded-full bg-slate-100 w-9 h-9 p-1 -ml-3" src="/images/img/img_gradient.png" alt="">
                                    <div class="flex flex-row justify-center items-center text-[10px] font-medium font-base text-navy/60 border-4 border-slate-100 rounded-full bg-slate-200 w-9 h-9 -ml-4">+99</div>
                                </div>
                            </div>
                        </div>
                        <div class="card flex flex-col gap-2 border border-slate-300 rounded-md p-5 w-1/3">
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-base font-medium font-base text-navy">Total Layanan Aktif</h1>
                                <img class="w-4 h-4" src="/images/icons/ic_arrow_right.svg" alt="">
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-row items-end gap-1">
                                    <p class="text-5xl font-bold font-base text-navy tracking-tight">123</p>
                                </div>
                                <div class="peoples flex flex-row items-center">
                                    <img class="object-cover rounded-full w-7 h-7" src="/images/img/img_gradient.png" alt="">
                                    <img class="object-cover rounded-full bg-slate-100 w-9 h-9 p-1 -ml-3" src="/images/img/img_gradient.png" alt="">
                                    <div class="flex flex-row justify-center items-center text-[10px] font-medium font-base text-navy/60 border-4 border-slate-100 rounded-full bg-slate-200 w-9 h-9 -ml-4">+99</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="flex flex-col gap-4">
                        <p class="text-lg font-bold font-base text-navy">Semua Aktivitas</p>
                        <table class="box-border border-collapse table-fixed">
                            <thead>
                                <tr>
                                    <th class="text-[13px] font-base font-semibold rounded-l-md bg-slate-200 py-2 text-blueSky w-10">#</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Dokter</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Spesialis</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Waktu</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Lokasi</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-300/30 py-2">Status</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy rounded-r-md bg-slate-300/30 py-2">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center">1</td>
                                    <td class="text-[13px] font-base font-normal text-navy py-2">dr. Steve Jobs</td>
                                    <td class="text-[13px] font-base font-normal text-navy py-2">Penyakit Kulit</td>
                                    <td class="text-[13px] font-base font-normal text-navy py-2">31 Dec 2024, 10 AM</td>
                                    <td class="text-[13px] font-base font-normal text-navy py-2">Rumah Sakit Siloam</td>
                                    <td class="py-2 text-xs font-normal font-base text-navy">
                                        <p class="w-fit font-base rounded-full text-navy bg-[#A0FFA0] px-2">Menunggu</p>
                                    </td>
                                    <td class="text-[13px] font-base font-normal text-navy py-2 "><a
                                            class="text-[13px] font-base font-semibold text-blueSky underline underline-offset-4 decoration-1 hover:decoration-2"
                                            href="#">Detail</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/animate_sidebar.js"></script>
</body>

</html>